@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Rajdhani:wght@300;400;500&family=Roboto+Slab:wght@100;300&family=Roboto:ital,wght@0,100;0,400;0,500;1,300;1,400&display=swap');
:root{
    --main-color: blue;
    --first-color:#73bff3 ;
    --second-color: #f4a95d;
    --third-color: #f2c28b;
    --fourth-color: #e46464ea;
    --fifth-color: #ea8bf5ea;
    --sixth-color: #f44cb1ea;
    --seventh-color: #99f7d7ea;
    --eight-color: #537fecea;
    --ninth-color: #ef9942ea;
    ---tenth-color: #c0cad7ea;







}
*{
    box-sizing: border-box;
}

html, body{
    margin: 0%; 
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
     font-family: 'Castoro Titling', cursive;   
}


 /* ----------periodic--------------------------*/
 .periodic-table{
  background-color: var(--second-color);
 }
 
 h1{
    text-align:left;
    color: rgb(49, 41, 41);
    font-size: 3rem;
}

table, tr, td{
    background-color: aliceblue;
    border: 2px solid mediumaquamarine;
    border-collapse: collapse;
    font-size: 10rem;
}
table{
    width: 70%;
    color: rgb(34, 0, 0);
    text-align: center;
}
tr{
    height: 80px;
}
td{
    font-size: 0.55rem;
}
.td1{
    background-color: var(--main-color);    
}
.td2{
    background-color: var(--first-color);
}

.td3{
    background-color: var(--third-color);
}
.td4{
    background-color: var(--fourth-color);
}
.td5{
    background-color: var(--fifth-color);
}
.td6{
    background-color: var(--sixth-color);
}
.td7{
    background-color: var(--seventh-color);
}
.td8{
    background-color: var(--eight-color);
}
.td9{
    background-color: var(--ninth-color);
}
.td10{
    background-color: var(---tenth-color);
}






.table2{
    background-color: whitesmoke;
}

