@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Montserrat:ital,wght@0,300;0,400;0,500;1,100;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Poppins:wght@300;400;500;600&family=Rajdhani:wght@300;400;500&family=Roboto+Slab:wght@100;300&family=Roboto:ital,wght@0,100;0,400;0,500;1,300;1,400&family=Wix+Madefor+Text:ital,wght@0,400;0,500;1,400&display=swap');

body{
    line-height: 1.5;
    color: #CCCCFF;
    font-size: 15px;
    font-family: 'Castoro', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 1000;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
}
a{
    font-weight: 600;
    transition: all 0.4s ease;
}

img{
    width: 100%;
}
small{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 900;
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-text{
    font-size: 25px;
    text-transform: uppercase;
    color: #F1948A !important;
}


.navbar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar .nav-link{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link.active{
        color: #F1948A !important;
}

#home{
    background:  url(../pictures/kami.jpg);
    min-height: 104vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}
#home h1{
    font-weight: 350;
}
#home p{
    font-size: 18px;
    max-width: 700px;
    margin:  auto;
}
.btn{
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 28px;
}
.btn-brand{
    background-color: #F1948A !important;
    color: #fff !important;
}
.btn-brand:hover{
    background-color: #F1948A;
    color: #fff;
}



#about{
  background: #CCCCFF;
}




#photos{
  background: url(../pictures/white.jpg);
  background-repeat: no-repeat;
  min-height: 104vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}
  



.team-member{
    background-color: #0f425d;
}
.team-member .hline{
    width: 70px;
    height: 2px;
    margin: 16px auto;
    background-color: rgba(13, 23, 79, 0.314);
}
.team-member .team-member-img img,
.team-member .team-member-img .social-icons{
    transition: all 0.4s ease;
}
.team-member .team-member-img{
    position: relative;
    overflow: hidden;
}
.team-member .team-member-img .social-icons{
    width: 100%;
    height: 60px;
    background-color: #F1948A;
    position: absolute;
    bottom: -60px;
    left: 0;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-member .team-member-img .social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-size: 24px;
    color: #fff;
    border-radius: 100px;
    margin-left: 4px;
    margin-right: 4px;
}
.team-member .team-member-img .social-icons a:hover {
    background-color: white;
    color: #F1948A;
}

.team-member:hover .team-member-img .social-icons{
    bottom: 0;
}
.team-member:hover img{
    transform: translate(-60px);
}





#activity{
  background: url(../pictures/white.jpg);
  min-height: 104vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}


.portfolio-item{
  overflow: hidden;
  position: relative;
}
.portfolio-item img,
.portflio-item .portfolio-overlay{
  transition: all 0.4s ease;
}
.portfolio-overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;    
 background-color: rgba(224, 115, 215, 0.731);
 display: flex;
 align-items: flex-end;
 padding: 30px;
 opacity: 0;
}
.portfolio-overlay h3,
.portfolio-overlay h6{
  color: #fff;
}
.portfolio-item:hover .portfolio-overlay {
  opacity: 1 ;
}
.portfolio-item:hover img{
  transform: scale(1.1);
}












#contact{
  background:#CCCCFF;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin: auto;
    width: 50%;
    padding: 10px;
    background: url(../pictures/white.jpg);
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  :focus {
    outline: 0;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #f3f4f7;
  }
  
  .mydict div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
  }
  
  .mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .mydict input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
  }
  
  label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
  }
  
  label:first-child span {
    border-radius: .375em 0 0 .375em;
  }
  
  label:last-child span {
    border-radius: 0 .375em .375em 0;
  }
  











































































































